In [81]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime, timedelta

## 보건복지부_코로나19 시.도 발생_현황

In [158]:
# 오늘 날짜
today = datetime.today().strftime('%Y%m%d')

In [159]:
# 한달 전 날짜
month  = datetime.today() - timedelta(30)

In [160]:
month = month.strftime('%Y%m%d')

In [162]:
url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson'
My_API_Key = unquote('Al39IV17tv%2FLZkvDx32O8HTQ%2FDme%2F%2BRCPKHi%2Bo8S7DxkrZYWfCPRQHYbV9VNiLQPGMpqjr5GczQcGzB%2BMQyjhA%3D%3D')

In [164]:
# 한달로 먼저 테스트
queryParams = '?' + urlencode({ quote_plus('ServiceKey') : My_API_Key, 
                               quote_plus('pageNo') : '1', 
                               quote_plus('numOfRows') : '10000', 
                               quote_plus('startCreateDt') : int(month), 
                               quote_plus('endCreateDt') : int(today) })

In [165]:
response = requests.get(url + queryParams)
response_text = response.text.encode('utf-8')
soup = BeautifulSoup(response_text, 'html.parser')

In [166]:
items = soup.find_all('item')

In [167]:
len(items)

703

In [168]:
createdt_list = []
deathcnt_list = []
defcnt_list = []
gubun_list = []
incdec_list = []
isolclearcnt_list = []
isolingcnt_list = []
localocccnt_list = []
overflowcnt_list = []
qurrate_list = []

In [169]:
len(items)

703

In [170]:
for i in range(0, len(items)):
    # 등록일시분초
    createdt = items[i].select('createdt')
    if len(createdt) == 0 :
        createdt = None
        createdt_list.append(createdt)
    else :
        createdt = createdt[0].text
        createdt_list.append(createdt)
    
    # 사망자수
    deathcnt = items[i].select('deathcnt')
    if len(deathcnt) == 0 :
        deathcnt = None
        deathcnt_list.append(deathcnt)
    else :
        deathcnt = deathcnt[0].text
        deathcnt_list.append(deathcnt)
    
    # 확진자 수 
    defcnt = items[i].select('defcnt')
    if len(defcnt) == 0 :
        defcnt = None
        defcnt_list.append(defcnt)
    else :
        defcnt = defcnt[0].text
        defcnt_list.append(defcnt)
    
    # 시도명 
    gubun = items[i].select('gubun')
    if len(gubun) == 0 :
        gubun = None
        gubun_list.append(gubun)
    else :
        gubun = gubun[0].text
        gubun_list.append(gubun)
        
    # 전일대비 증감수 
    incdec = items[i].select('incdec')
    if len(incdec) == 0 :
        incdec = None
        incdec_list.append(incdec)
    else :
        incdec = incdec[0].text
        incdec_list.append(incdec)
    
    # 격리 해제 수
    isolclearcnt = items[i].select('isolclearcnt')
    if len(isolclearcnt) == 0 :
        isolclearcnt = None
        isolclearcnt_list.append(isolclearcnt)
    else :
        isolclearcnt = isolclearcnt[0].text
        isolclearcnt_list.append(isolclearcnt)
    
    # 격리중 환자수
    isolingcnt = items[i].select('isolingcnt')
    if len(isolingcnt) == 0 :
        isolingcnt = None
        isolingcnt_list.append(isolingcnt)
    else :
        isolingcnt = isolingcnt[0].text
        isolingcnt_list.append(isolingcnt)
    
    # 지역발생수
    localocccnt = items[i].select('localocccnt')
    if len(localocccnt) == 0 :
        localocccnt = None
        localocccnt_list.append(localocccnt)
    else :
        localocccnt = localocccnt[0].text
        localocccnt_list.append(localocccnt)
        
    # 해외유입수
    overflowcnt = items[i].select('overflowcnt')
    if len(overflowcnt) == 0 :
        overflowcnt = None
        overflowcnt_list.append(overflowcnt)
    else :
        overflowcnt = overflowcnt[0].text
        overflowcnt_list.append(overflowcnt)
    
    # 해외유입수
    qurrate = items[i].select('qurrate')
    if qurrate[0].text == '' or qurrate[0].text == '-' :
        qurrate = None
        qurrate_list.append(qurrate)
    else :
        qurrate = qurrate[0].text
        qurrate_list.append(qurrate)

In [171]:
all_data = pd.DataFrame({'createdt' : createdt_list, 'deathcnt' : deathcnt_list , 'defcnt' : defcnt_list, \
                                  'gubun' : gubun_list, 'incdec' : incdec_list, 'isolclearcnt' : isolclearcnt_list, \
                                  'isolingcnt' : isolingcnt_list, 'localocccnt' : localocccnt_list, 'overflowcnt' : overflowcnt_list, \
                                  'qurrate' : qurrate_list})

In [182]:
all_data

,createdt,deathcnt,defcnt,gubun,incdec,isolclearcnt,isolingcnt,localocccnt,overflowcnt,qurrate
0,2020-10-21 09:35:15.208,0,1674,검역,22,1438,236,0,22,None
1,2020-10-21 09:35:15.208,0,59,제주,0,59,0,0,0,8.80
2,2020-10-21 09:35:15.208,0,301,경남,0,292,9,0,0,8.95
3,2020-10-21 09:35:15.208,56,1577,경북,2,1507,14,2,0,59.23
4,2020-10-21 09:35:15.207,2,178,전남,1,168,8,0,1,9.55
...,...,...,...,...,...,...,...,...,...,...
698,2020-09-21 10:04:45.366,8,881,인천,2,764,109,1,1,29.80
699,2020-09-21 10:04:45.366,193,7125,대구,1,6873,59,0,1,292.43
700,2020-09-21 10:04:45.366,4,385,부산,8,324,57,8,0,11.28
701,2020-09-21 10:04:45.366,48,4995,서울,23,3985,962,21,2,51.32
702,2020-09-21 10:04:45.365,385,23045,합계,70,20248,2412,55,15,44.45

In [183]:
all_data.to_csv('covid_data.csv', encoding='utf-8-sig', index = False)

In [299]:
covid_data = pd.read_csv('covid_data.csv')

In [300]:
covid_data

,createdt,deathcnt,defcnt,gubun,incdec,isolclearcnt,isolingcnt,localocccnt,overflowcnt,qurrate
0,2020-10-21 09:35:15.208,0,1674,검역,22,1438,236,0,22,NaN
1,2020-10-21 09:35:15.208,0,59,제주,0,59,0,0,0,8.80
2,2020-10-21 09:35:15.208,0,301,경남,0,292,9,0,0,8.95
3,2020-10-21 09:35:15.208,56,1577,경북,2,1507,14,2,0,59.23
4,2020-10-21 09:35:15.207,2,178,전남,1,168,8,0,1,9.55
...,...,...,...,...,...,...,...,...,...,...
698,2020-09-21 10:04:45.366,8,881,인천,2,764,109,1,1,29.80
699,2020-09-21 10:04:45.366,193,7125,대구,1,6873,59,0,1,292.43
700,2020-09-21 10:04:45.366,4,385,부산,8,324,57,8,0,11.28
701,2020-09-21 10:04:45.366,48,4995,서울,23,3985,962,21,2,51.32
702,2020-09-21 10:04:45.365,385,23045,합계,70,20248,2412,55,15,44.45

In [301]:
covid_data = covid_data[['gubun', 'localocccnt']].groupby('gubun', as_index=False).sum()

In [302]:
covid_data

   gubun  localocccnt
0     강원           26
1     검역           23
2     경기          760
3     경남           11
4     경북           59
5     광주           13
6     대구           10
7     대전           81
8     부산          225
9     서울          845
10    세종            0
11    울산           13
12    인천          143
13    전남            6
14    전북           36
15    제주            1
16    충남           29
17    충북           18
18    합계         2265

In [314]:
covid_data = covid_data[(covid_data['gubun'] != '합계') & (covid_data['gubun'] != '검역')]

In [315]:
covid_data

   gubun  localocccnt
0     강원           26
2     경기          760
3     경남           11
4     경북           59
5     광주           13
6     대구           10
7     대전           81
8     부산          225
9     서울          845
10    세종            0
11    울산           13
12    인천          143
13    전남            6
14    전북           36
15    제주            1
16    충남           29
17    충북           18

In [316]:
covid_data['localocccnt'].sum()

2276

In [317]:
covid_data['covid_prop'] = covid_data['localocccnt'] / covid_data['localocccnt'].sum()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [318]:
covid_data.gubun.unique()

array(['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산',
       '인천', '전남', '전북', '제주', '충남', '충북'], dtype=object)

In [319]:
def areacode(gubun) : 
    if gubun == '서울' :
        return '1'
    elif gubun == '인천' :
        return '2'
    elif gubun == '대전' :
        return '3'
    elif gubun == '대구' :
        return '4'
    elif gubun == '광주' :
        return '5'
    elif gubun == '부산' :
        return '6'
    elif gubun == '울산' :
        return '7'
    elif gubun == '세종' :
        return '8'
    elif gubun == '경기' :
        return '31'
    elif gubun == '강원' :
        return '32'
    elif gubun == '충북' :
        return '33'
    elif gubun == '충남' :
        return '34'
    elif gubun == '경북' :
        return '35'
    elif gubun == '경남' :
        return '36'
    elif gubun == '전북' :
        return '37'
    elif gubun == '전남' :
        return '38'
    elif gubun == '제주' :
        return '39'

In [320]:
covid_data['areacode'] = covid_data.apply(lambda x : areacode(x['gubun']), axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [373]:
covid_data

   gubun  localocccnt  covid_prop areacode
0     강원           26    0.011424       32
2     경기          760    0.333919       31
3     경남           11    0.004833       36
4     경북           59    0.025923       35
5     광주           13    0.005712        5
6     대구           10    0.004394        4
7     대전           81    0.035589        3
8     부산          225    0.098858        6
9     서울          845    0.371265        1
10    세종            0    0.000000        8
11    울산           13    0.005712        7
12    인천          143    0.062830        2
13    전남            6    0.002636       38
14    전북           36    0.015817       37
15    제주            1    0.000439       39
16    충남           29    0.012742       34
17    충북           18    0.007909       33

## 관광데이터와 합치기

In [374]:
tour_data = pd.read_csv('./data/tour_data/tour_data.csv')

In [375]:
tour_data['areacode'].isna().sum()

0

In [376]:
tour_data.areacode = tour_data.areacode.astype(str)
covid_data.areacode = covid_data.areacode.astype(str)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [378]:
tour_covid = pd.merge(tour_data,covid_data, how='left', left_on='areacode', right_on='areacode')

In [380]:
tour_covid.head()

,tour_id,title,cat1,cat2,cat3,areacode,addr1,tel,mapx,mapy,firstimage,firstimage2,contentid,contenttypeid,readcount,sigungucode,zipcode,gubun,localocccnt,covid_prop
0,1,㈜코스테이,B02,B0201,B02010900,1,서울특별시 강서구 곰달래로 247,02-2643-8800,126.860538,37.532234,http://tong.visitkorea.or.kr/cms/resource/22/1...,http://tong.visitkorea.or.kr/cms/resource/22/1...,1747824,32,16412.0,4.0,07741,서울,845,0.371265
1,2,㈜피에프비파트너스 마린칸토,A05,A0502,A05020300,1,서울특별시 용산구 청파로 74,02-712-5005,126.957507,37.535694,http://tong.visitkorea.or.kr/cms/resource/19/2...,http://tong.visitkorea.or.kr/cms/resource/19/2...,2598695,39,39.0,21.0,04372,서울,845,0.371265
2,3,가나아트센터,A02,A0206,A02060500,1,서울특별시 종로구 평창30길 28,NaN,126.975181,37.612210,http://tong.visitkorea.or.kr/cms/resource/19/1...,http://tong.visitkorea.or.kr/cms/resource/19/1...,129854,14,41050.0,23.0,03004,서울,845,0.371265
3,4,가나안경원 (명동2호점),A04,A0401,A04010600,1,서울특별시 중구 명동8가길 33,NaN,126.986934,37.561960,http://tong.visitkorea.or.kr/cms/resource/71/2...,http://tong.visitkorea.or.kr/cms/resource/71/2...,984586,38,11157.0,24.0,04537,서울,845,0.371265
4,5,가든파이브 (Garden5),A04,A0401,A04010600,1,서울특별시 송파구 충민로 66,NaN,127.122935,37.477006,http://tong.visitkorea.or.kr/cms/resource/78/1...,http://tong.visitkorea.or.kr/cms/resource/78/1...,732484,38,16603.0,18.0,05838,서울,845,0.371265

In [381]:
tour_covid.to_csv('tour_covid_data.csv',encoding='utf-8-sig', index=False)

In [382]:
tour_covid = pd.read_csv('tour_covid_data.csv')

In [384]:
tour_covid.head()

,tour_id,title,cat1,cat2,cat3,areacode,addr1,tel,mapx,mapy,firstimage,firstimage2,contentid,contenttypeid,readcount,sigungucode,zipcode,gubun,localocccnt,covid_prop
0,1,㈜코스테이,B02,B0201,B02010900,1,서울특별시 강서구 곰달래로 247,02-2643-8800,126.860538,37.532234,http://tong.visitkorea.or.kr/cms/resource/22/1...,http://tong.visitkorea.or.kr/cms/resource/22/1...,1747824,32,16412.0,4.0,07741,서울,845,0.371265
1,2,㈜피에프비파트너스 마린칸토,A05,A0502,A05020300,1,서울특별시 용산구 청파로 74,02-712-5005,126.957507,37.535694,http://tong.visitkorea.or.kr/cms/resource/19/2...,http://tong.visitkorea.or.kr/cms/resource/19/2...,2598695,39,39.0,21.0,04372,서울,845,0.371265
2,3,가나아트센터,A02,A0206,A02060500,1,서울특별시 종로구 평창30길 28,NaN,126.975181,37.612210,http://tong.visitkorea.or.kr/cms/resource/19/1...,http://tong.visitkorea.or.kr/cms/resource/19/1...,129854,14,41050.0,23.0,03004,서울,845,0.371265
3,4,가나안경원 (명동2호점),A04,A0401,A04010600,1,서울특별시 중구 명동8가길 33,NaN,126.986934,37.561960,http://tong.visitkorea.or.kr/cms/resource/71/2...,http://tong.visitkorea.or.kr/cms/resource/71/2...,984586,38,11157.0,24.0,04537,서울,845,0.371265
4,5,가든파이브 (Garden5),A04,A0401,A04010600,1,서울특별시 송파구 충민로 66,NaN,127.122935,37.477006,http://tong.visitkorea.or.kr/cms/resource/78/1...,http://tong.visitkorea.or.kr/cms/resource/78/1...,732484,38,16603.0,18.0,05838,서울,845,0.371265